name: Deploy Via AgnosticD
on:
  workflow_dispatch:
    inputs:
      hostname:
        description: 'hostname'
        required: false
        default: hostname
      kubeconfig_path:
        description: 'Path to KUBECONFIG file'
        required: false
        default: /root/cluster/auth/kubeconfig
      agnosticd_repo:
        description: 'AgnosticD repository URL'
        required: false
        default: https://github.com/tosin2013/agnosticd.git
      agnosticd_workload:
        description: AgnosticD workload to deploy
        required: true
        type: choice
        options:
          - ocp4_workload_redhat_developer_hub
      agnosticd_action:
        description: AgnosticD action to perform (create/remove)
        required: true
        default: create
      guid:
        description: GUID
        required: true
        default: 1234
      openshift_user:
        description: OpenShift user
        required: true
        default: admin

jobs:
  agnosticd_deployment:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set Environment Variables
      run: |
        echo "HOSTNAME=${{ github.event.inputs.hostname }}" >> $GITHUB_ENV

    - name: Install dependencies
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ env.HOSTNAME }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        command_timeout: 30m
        script: | 
          sudo dnf install wget openssh-clients sshpass ansible-core openssl python3-jmespath -y
          sudo pip3 install openshift pyyaml kubernetes jmespath
          ansible-galaxy collection install kubernetes.core community.general
          pip3 install 'ansible-navigator[ansible-core]'

    - name: Clone or update AgnosticD repository
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ env.HOSTNAME }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        command_timeout: 30m
        script: | 
          if [ -d "$HOME/agnosticd" ]; then
            cd $HOME/agnosticd
            git pull
          else
            git clone ${{ inputs.agnosticd_repo }} $HOME/agnosticd
          fi

    - name: Copy extra_vars.yml to target system
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ env.HOSTNAME }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        source: "agnosticd_templates/ocp-workloads/${{ inputs.agnosticd_workload }}.yaml"
        target: "${{ secrets.USERNAME }}/agnosticd/ansible/configs/${{ inputs.agnosticd_workload }}.yaml"

    - name: Run Ansible Playbook for Create
      if: ${{ inputs.agnosticd_action == 'create' }}
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ env.HOSTNAME }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        command_timeout: 30m
        script: |
          export KUBECONFIG=${{ inputs.kubeconfig_path }}
          ansible-navigator run ansible/main.yml \
            --eei quay.io/agnosticd/ee-multicloud:latest \
            -e @ansible/configs/${{ inputs.agnosticd_workload }}.yaml  -m stdout

    - name: Run Ansible Playbook for Delete
      if: ${{ inputs.agnosticd_action == 'remove' }}
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ env.HOSTNAME }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        command_timeout: 30m
        script: |
          export KUBECONFIG=${{ inputs.kubeconfig_path }}
          ansible-navigator run ansible/destroy.yml \
            --eei quay.io/agnosticd/ee-multicloud:latest \
            -e @ansible/configs/${{ inputs.agnosticd_workload }}.yaml  -m stdout