name: Deploy OpenShift AI Workload

on:
  workflow_dispatch:
    inputs:
      instance_size:
        description: 'Instance size (e.g., m6i.2xlarge)'
        required: true
        default: 'm6i.2xlarge'
      region:
        description: 'AWS region (e.g., us-east-2)'
        required: true
        default: 'us-east-2'
      destroy:
        description: 'Destroy the cluster after deployment'
        required: false
        default: 'false'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up AWS credentials
      run: |
        echo "aws_access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }}" >> $GITHUB_ENV
        echo "aws_secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> $GITHUB_ENV
        echo "aws_region=${{ secrets.AWS_REGION }}" >> $GITHUB_ENV

    - name: SSH into RHEL9 Bastion and Deploy OpenShift
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.BASTION_HOST }}
        username: ${{ secrets.BASTION_USERNAME }}
        key: ${{ secrets.BASTION_KEY }}
        port: ${{ secrets.BASTION_PORT }}
        command_timeout: 60m
        script: |
          sudo yum install git -y
          if [ -d "/opt/rhel9-bootstrap" ]; then
            cd /opt/rhel9-bootstrap
            git config --global --add safe.directory /opt/rhel9-bootstrap
            git config pull.rebase false
            git pull
          else
            cd /opt/
            sudo usermod -aG users ${{ secrets.BASTION_USERNAME }}
            sudo chown -R root:users /opt
            sudo chmod -R g+w /opt
            git clone https://github.com/tosin2013/rhel9-bootstrap.git
          fi
          cd /opt/rhel9-bootstrap
          echo "export aws_access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }}" >> /home/${{ secrets.BASTION_USERNAME }}/.bashrc
          echo "export aws_secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> /home/${{ secrets.BASTION_USERNAME }}/.bashrc
          echo "export aws_region=${{ secrets.AWS_REGION }}" >> /home/${{ secrets.BASTION_USERNAME }}/.bashrc
          source /home/${{ secrets.BASTION_USERNAME }}/.bashrc
          sudo ./scripts/openshift-ai-workload.sh ${{ github.event.inputs.instance_size }} ${{ github.event.inputs.region }} ${{ github.event.inputs.destroy == 'true' && '--destroy' || '' }}
